ul {
    list-style-type: none;
}

#outer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.card-container {
    width: 20rem;
    height: 30rem;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin:  auto;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
     
}

.card-container ul {
    
    padding: 0;
    list-style-type: none;
}

.card-container img {
    width: 15rem;
    height: 20rem;
    object-fit: contain;
    
}

.card-image {
    width: 15rem;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto 1rem auto;
    border-radius: 6px;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 
}
.btn:hover {
    background-color: #ccc;
}

.tab-container {
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tab-btn {
  padding: 1rem 0;
  border: solid thin #000;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  cursor: pointer;
}

.buy-btn  {
    @apply w-40 mx-auto my-3 py-1 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-black bg-gray-300
}

.buy-btn ul {
    align-items: center;
    margin: 0 auto;
    padding: 0.25rem 0.5rem; 
    display: flex;
    width: 10rem;
    justify-content: space-between;
    border:rgb(0, 0, 0) solid;
    background-color: rgb(200, 200, 200);
    border-radius: 7px;
       
}

.active {
    background-color: cadetblue;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

/* Form */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

#form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 .img-upload {
     border: #000 solid thin;
 }
.form-input {
    
}